html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-font-smoothing: inherit;
}

body{
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

@media handheld, only screen and (max-width: 400px) {
	#form {
		min-height: 80px;
		font-size: 1.5rem;
		padding: 0.5rem;
	}

	#date {
		font-size: 1rem;
	}

	.form-control {
		font-size: 1rem;
	}

	#lmap {
		height: 180px;
	}
	#kiosk {
		display:block;
		min-height: 250px;
	}

	#listhead {
		font-size: 1.5rem;
		padding: 0.5rem;
	}	
}

@media only screen and (min-width: 600px) {
	#form {
		width: 100%;
		font-size: 1.5rem;
		padding: 0.5rem;
		
	}

	#date {
		font-size: 1rem;
	}

	.form-control {
		font-size: 1rem;
	}

	#content {
	/*	position: absolute;*/
	}

	#lmap {
		height:500px;
		width:60%;
		position: relative;
		display: inline-block;
	}
	#kiosk {
		display: inline-block;
		width: 35%;
		font-size: 1.5rem;
		padding: 0.5rem;
		vertical-align: top;
		height:500px;
		overflow: scroll;
	}

	#listhead {
		
		
		
	}

}
	